body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

h2,
h3,
p {
  margin: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  margin: 5px 0;
  text-align: center;
}

button {
  width: 55%;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #eee;
  font-family: inherit;
  font-weight: 500;
  text-align: left;
  border: 2px solid rgb(204, 195, 195);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px;
}

button:hover {
  cursor: pointer;
}

span {
  margin: 0rem 1rem;
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 500px;
  height: 330px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  will-change: transform;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px;
}

.card:hover {
  transform: rotateX(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(45deg, #717171, #181818);
  color: #eee;
}

.back {
  transform: rotateX(180deg);
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.content {
  display: none;
}

.section-content {
  display: none;
  text-align: center;
  padding: 20px;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
}

.back-button:hover {
  background-color: #ddd;
}

.content.visible ~ h2,.content.visible ~ ul.button-list,.content.visible ~ .theme-select {
  display: none;
}

.content.visible {
  display: block;
}

@media screen and (max-width: 700px) {
  .card {
    width: 80vw;
  }
}